@import url('https://fonts.googleapis.com/css?family,Poppins:200,300,400,500,600,700,800,900&display=swap'); 


*
{ 
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #151517;
}

nav
{
	position: absolute;
    top: 0;
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	background-color: #222327;
	padding: 15px 60px;
	width: 100vw;
}

nav a
{
	position: relative;
	text-decoration: none;
	color: #999;
	font-size: 1.5em;
	z-index: 2;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	transition: 0.5s;
}
nav a.active
{
	color: #222327;
}



#options
{
    display: flex;
}

.container 
{
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  justify-content: space-between;

} 
.container .card
 { 
    width: calc(33.333% - 20px);
     margin-bottom: 20px;
  } 

  @media screen and (max-width: 768px) {
    .container .card {
        width: calc(50% - 10px); /* Adjusts for two cards per row on smaller screens */
    }
}

@media screen and (max-width: 375px) {
    .container .card {

        margin-top: 50px;
        font-size: 12px;
        flex-basis: 100%;
    }
}
.container .card
 { 
 	position: relative;
 	width: 320px ; 
 	height: 450px ; 
 	background: #232323; 
	border-radius: 20px ; 
	overflow: hidden; 
	flex-grow: 1;
	flex-basis: 200;

} 
.container .card:before 
{ 
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	background: #487027; 
	clip-path: circle(150px at 80% 20% ); 
	transition: 0.5s ease-in-out;
} 

#can-2:before 
{
	background: #aa1e19; 
}

#bottle-1:before 
{
	background: #50ce04; 
}
#bottle-2:before 
{
	background: #ff2c30; 
}

.container .card:hover:before 
{ 
clip-path: circle(300px at 80% -20% ); 
} 


.container .card:after 
{ 
	position: absolute; 
	align-items: center;
	top: 35% ; 
	left: -20% ; 
	font-size: 9em ; 
	font-weight: 800; 
	font-style: italic; 
	color: rgba(255,255,255,0.04); 
} 
#can-1:after 
{ 
	content: 'Grape';
	}
#can-2:after 
{ 
	content: 'pomeg-\Aranate';
    white-space: pre;
	font-size: 7em ;
	align-items: center;
	left: -5%;
	top: 20% ;
	}
	#bottle-2:after 
{ 
	content: 'pomeg-\Aranate';
    white-space: pre;
	font-size: 7em ;
	align-items: center;
	left: -5%;
	top: 20% ;
	}

#bottle-1:after 
{ 
	content: 'Grape';
	}	
.container .card .imgBx
 { 
	position: absolute; 
	top: 50% ; 
	transform: translateY(-50%); 
	z-index: 10000; 
	width: 100% ; 
	height: 220px; 
	transition: 0.5s; 
} 

.container .card:hover .imgBx
 { 
 	top: 0% ; 
 	transform: translateY(0%); 
 	} 

 .container .card .imgBx #can1 
 { 
 	position: absolute; 
 	top: 30%; 
 	left: 48%; 
 	transform: translate(-50%,-50%) rotate(-25deg);
 	width: 270px; 
} 
 .container .card .imgBx #can2
 { 
 	position: absolute; 
 	top: 30%; 
 	left: 48%; 
 	transform: translate(-50%,-50%) rotate(-25deg);
 	width: 270px; 
} 


 .container .card .imgBx #bottle1 
 { 
 	position: absolute; 
 	top: 30%; 
 	left: 48%; 
 	transform: translate(-50%,-50%) rotate(-25deg);
 	width: 270px; 
} 
.container .card .imgBx #bottle2 
{ 
	position: absolute; 
	top: 30%; 
	left: 48%; 
	transform: translate(-50%,-50%) rotate(-25deg);
	width: 270px; 
} 
.container .card .contentBx 
{ 
	 position: absolute;
	 bottom: -100px; 
	 width: 100%; 
	 height: 100px; 
	 text-align: center; 
	 transition: 1s; 
	 z-index: 10; 
	 } 

.container .card:hover .contentBx 
 { 
 	height: 545px; 
 	z-index: 20;
} 
.container .card .contentBx h2
{ 
	font-weight: 600; 
	letter-spacing: 1px; 
	color: #fff;
	font-family: 'Poppins', sans-serif } 

 
 #can1 {
 	scale: 0.5;
 }
   #can2 {
 	scale: 0.5;
 }
 #grape {
 	scale: 0.18;
 }
 #pomegranate {
 	scale: 0.18;
 }

 #bottle1{
 	scale:0.5;
 }
 #bottle2{
	scale:0.5;
}
.container .card .description
{
	 position: absolute;
	 bottom: -100px; 
	 left: 20px;
	 width: 60%; 
	 height: 100px; 
	 text-align: left; 
	 transition: 1s; 
	 z-index: 10; 
	 font-size: 25px;
	 font-weight: 600; 
	letter-spacing: 1px; 
	color: #fff; 
}
.container .card:hover .description
{
 	height: 150px; 
 	z-index: 20;
} 

.container .card .fruit
{
	 position: absolute;
	 bottom: -300px;
	 right: 10px;
	 transition: 1s; 
	 z-index: 10; 
	 transform: rotate(15deg);
	
}

.container .card:hover .fruit
{
 	 bottom: -160px; 
 	z-index: 20;
} 

